div 
    h1 SKILL ACADEMY 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, distinctio nobis obcaecati accusantium quisquam necessitatibus eius ratione nulla, ducimus minus, quis explicabo illo sit eos sapiente dolorem repellat ab velit.
    